@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
  outline: none;
  border: none;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope" sans-serif;
}

/* color palette from <https://github.com/vuejs/theme> */

:root {
  /* ### Primary -  */
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  /* ### Neutral  */
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}


body {
  display: flex;
  place-items: center;
  min-height: 100vh;
  font-family: "Manrope" sans-serif;
  font-size: 28px;
  margin-top: -5rem;
  background-color: var(--dark-blue);
}